#Это настройка сервера
Options +FollowSymLinks
RewriteEngine On

<IfModule mod_rewrite.c>
	DirectoryIndex index.php

	# Страницы пользовательских ошибок
	ErrorDocument 404 /errors/error404.php

</IfModule>
