:root{
	--green: #229954;
	--red: #A93226;
}


::-webkit-scrollbar-button {
	width:5px;
	height:0px;
}

::-webkit-scrollbar-track {
	background-color: #ecedee;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #a9a9a9;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #696969;
}

::-webkit-resizer{
	width: 4px;
	height: 0px;
}

::-webkit-scrollbar{
	width: 4px;
	height: 4px;
}






.input__wrapper {
  width: 100%;
  position: relative;
  text-align: center;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.input__file-icon-wrapper {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #fff;
}

.input__file-icon{
	filter: invert(100%);
}
 
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}
 
.input__file-button {
  width: 100%;
  max-width: 240px;
  height: 40px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}


















*,
*:before,
*:after{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	list-style-type: none;
}

body{
	margin: 100px 0 200px!important;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F2F3F4;
}

.alert{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	text-align: center;
	top: -1000px;
	border: 1px solid #fff;
	border-radius: 20px;
	width: 400px;
	height: 200px;
	background: #212121;
	z-index: 1;
}

.alert.active{
	top: 300px;
	animation: goDownAlert 1s cubic-bezier(0.18, 0.89, 0.31, 1.33) 1;
}

.yes,.no{
	cursor: pointer;
}

.no{
	text-decoration: underline;
}

@keyframes goDownAlert {
	0%{
		top: -1000px;
	}

	100%{
		top: 300px;
	}
}

.alert.notActive{
	top: -1000px;
	animation: goUp 1s cubic-bezier(0.18, 0.89, 0.31, 1.33) 1;
}

.alert_problem{
	text-transform: uppercase;
	margin-bottom: 20px;
}

.alert_text{
	margin-bottom: 20px;
}

.photo_description{
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	padding: 70px;
	background: rgba(0, 0, 0, 0.0);
	transition: 0s display ease 1s;
	animation: makeLight 1s linear 1;
}

.photo_description.active{
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	animation: makeDark 1s linear 1;
}

.photo_description.notActive{
	background: rgba(0, 0, 0, 0.0);
	display: flex;
	animation: makeLight 1s linear 1;
}

.photo_description.active .photo_block{
	animation: goDown 1s cubic-bezier(0.18, 0.89, 0.31, 1.33) 1;
}

.photo_description.notActive .photo_block{
	animation: goUp 1s cubic-bezier(0.18, 0.89, 0.31, 1.33) 1;
	top: -1000px;
}

.photo_block{
	display: flex;
	position: relative;
	top: 0px;
	width: 100%;
	max-width: 800px;
	height: 700px;
	background: #212121;
	border: 1px solid #fff;
	border-radius: 20px;
}

@keyframes makeDark {
	0%{
		background: rgba(0, 0, 0, 0.0);
	}

	100%{
		background: rgba(0, 0, 0, 0.6);
	}
}

@keyframes makeLight {
	0%{
		background: rgba(0, 0, 0, 0.6);
	}

	100%{
		background: rgba(0, 0, 0, 0.0);
	}
}

@keyframes goDown {
	0%{
		top: -1000px;
	}

	100%{
		top: 0px;
	}
}

@keyframes goUp {
	0%{
		top: 0px;
	}

	100%{
		top: -1000px;
	}
}

.photo{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.photo:after{
	content: "";
	display: none;
	position: absolute;
	top: 100%;
	width: 100%;
	height: 2px;
	background: #fff;
}

.photo:before{
	content: "";
	display: block;
	position: absolute;
	left: 100%;
	top: 0;
	height: 100%;
	width: 2px;
	background: #fff;
}

.photo img{
	width: 80%;
	max-height: 90%;
	height: auto;
}

.description{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 50%;
	height: 100%;
}

.status{
	position: relative;
	width: 100%;
}

.status:before{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background: #fff;
}

.status_block{
	width: calc(100% - 44px);
	text-align: center;
	font-size: 20px;
}

.status_text{
	padding: 10px;
	width: 100%;
}

.cross{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: calc(100% - 44px);
	width: 44px;
	height: 44px;
	border-top-right-radius: 20px;
	border: 1px solid #fff;
	border-left-width: 2px;
	border-bottom-width: 2px;
	background: #212121;
	z-index: 1;
	cursor: pointer;
}

.cross .line{
	position: relative;
	width: 60%;
	height: 2px;
	background: #fff;
	transform: rotate(45deg);
	transition: 0.3s transform ease;
}

.cross .line:after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	transform: rotate(-90deg);
}

.cross:hover .line{
	transform: rotate(225deg);	
}

.main_description{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.options{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}

.li_description{
	position: relative;
	width: 100%;
	min-height: 60px;
	height: 60px;
	max-height: 200px;
	overflow: hidden;
	opacity: 1;
	transition: 0.5s height ease, 0.5s opacity ease;
}

.li_description.active{
	height: 130px;
}

.li_description.active .write_description{
	top: -60px;
	opacity: 0;
}

.li_description.active .description_textarea{
	top: 0px;
}

.write_description{
	position: relative;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: white;
	padding: 10px;
	height: 60px;
	transition: 0.5s top ease;
}

.write_description span{
	cursor: pointer;
	text-decoration: underline;
}

.description_textarea{
	position: absolute;
	top: 60px;
	left: 0;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 15px;
	width: 100%;
	height: 130px;
	color: #fff;
	resize: none;
	outline: none;
	transition: 0.5s top ease;
}

.description_textarea:focus{
	border: 1px solid #fff;
}

.date{
	display: inline-flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	position: relative;
	padding-top: 20px;
	margin-top: 20px;
}

.date:before{
	content: '';
	display: block;
	position: absolute;
	margin: 0 10%;
	top: 0;
	width: 80%;
	height: 2px;
	background: #fff;
}

.save_img{
	display: inline-block;
	border: none;
	background: rgba(255, 255, 255, 0.3);
	color: #fff;
	outline: none;
	border-radius: 18px;
	padding: 10px 20px;
	cursor: pointer;
	max-height: 40px;
	max-width: 120px;
	transition: 0.3s background ease, 0.3s color ease;
}

.save_img:hover{
	background: rgba(255, 255, 255, 0.15);
}

.save_img.should_save{
	background: #F7DC6F;
	color: #212121;
	animation: pulse 1s linear infinite;
	box-shadow: 0 0 2px 2px #212121;
}

.save_img.should_save:hover{
	background: #FFA000;
	animation: click 0.2s linear infinite, pulse 1s ease-in infinite;
}

@keyframes click{
	0%{
		transform: rotate(0deg);
	}
	33.333%{
		transform: rotate(7deg);
	}
	66.666%{
		transform: rotate(-7deg);
	}
	100%{
		transform: rotate(0deg);
	}
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,160,0, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 15px rgba(255,160,0, 0.4);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,160,0, 0.4);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,160,0, 0.4);
    box-shadow: 0 0 0 0 rgba(255,160,0, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(255,160,0, 0.4);
      box-shadow: 0 0 0 15px rgba(255,160,0, 0.4);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255,160,0, 0.4);
    box-shadow: 0 0 0 0 rgba(255,160,0, 0.4);
  }
}

.li_change_description{
	position: relative;
	overflow: hidden;
}

.container{
	position: relative;
	top: 0;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	transition: 0.3s top ease;
}

.container .green{
	margin-right: 20px;
}

.container .text{
	word-break: break-all;
	margin-right: 20px;
}

.li_change_description .description_textarea{
	top: 100%;
}

.li_change_description.active{
	height: 130px;
}

.li_change_description.active .container{
	top: -100%;
	opacity: 0;
}

.li_change_description.active .description_textarea{
	top: 0;
}






.block{
	width: 80%;
	padding: 30px;
	min-height: 70vh;
	background: #212121;
	box-shadow: 0 100px 0 #313131;
	color: white;
	font-size: 18px;
}

.name{
	text-align: center;
	font-size: 28px;
	margin-bottom: 30px;
}

.green{
	color: var(--green);
}

.red{
	color: var(--red);
}

.main{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90%;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.main:before{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 80%;
	background: #fff;
}

.nameOf{
	display: inline-block;
}

.list_of_information{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;
	margin: 0;
}

.list_of_information li{
	position: relative;
	overflow: hidden;
}

.form_input{
	position: relative;
	max-width: 500px;
	width: 100%;
	outline: none;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 18px;
	margin: 0 10px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.list_of_information li.active .someElse{
	top: 0;
}

.list_of_information li.active .block_line{
	opacity: 0;
}

.list_of_information li .block_line{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 5px 0;
	transition: 0.3s opacity ease;
	height: 100%;
}

.list_of_information li .someElse{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	padding: 5px 0;
	transition: 0.5s top ease;
	height: 100%;
}

.list_of_information hr{
	background: #fff;
	height: 2px;
	width: 80%;
}

.line{
	width: 100%;
	display: flex;
	justify-content: center;
}

.add,.change,.save{
	padding: 10px 20px;
	color: white;
	font-size: 0.7em;
	border: 2px solid white;
	background: transparent;
	transition: 0.3s all ease;
	cursor: pointer;
	text-decoration: none;
}

.add:hover,.change:hover,.save:hover{
	background: #fff;
	color: #212121;
}

.information{
	text-align: center;
}

.user_imgs{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.user_imgs:before{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 80%;
	background: #fff;
}

.info{
	text-align: center;
}

.all_photos{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 25px;
	width: 100%;
	margin-bottom: 30px;
}

.all_photos img{
	max-width: 100%;
	cursor: pointer;
	height: auto;
	float: left;
	margin: auto;
}

input[type="file"]{
	margin-top: 20px;
}


.user_posts{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.user_posts:before{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 80%;
	background: #fff;
}

.all_posts{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.post_view{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	margin: 20px 0;
	width: 100%;
}

.post_wrapper{
	position: relative;
	display: flex;
	background: #fff;
	box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.1);
	padding: 30px;
	max-width: 600px;
}

.post_wrapper hr.vertical{
	margin: 0 0 0 10px;
}

.post_wrapper hr.gorizontal{
	margin: 0;
}

.post_img{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50%;
	min-width: 200px;
}

.post_img .message_red{
	text-align: center;
}

.post_img img{
	width: 100%;
	height: auto;
	pointer-events: none;
}

.post_info{
	max-width: 50%;
	width: 100%;
	height: inherit;
}

.post_name{
	font-size: 24px;
	width: 100%;
	text-align: center;
	overflow: hidden;
	color: #212121;
}

.else_info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px;
	height: calc(100% - 25px);
}

.post_description_textarea{
	width: 100%;
	outline: none;
	border-radius: 0;
	resize: none;
	height: 100px;
}

.author{
	display: flex;
	justify-content: space-between;
}

.author a{
	color: #1bbc9b;
}

.flex_line{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.button_view{
	position: relative;
	display: inline-block;
	border: 2px solid #333;
	color: #333;
	padding: 10px 20px;
	background: transparent;
	cursor: pointer;
	transition: all 0.4s ease;
	font-size: 0.9em;
	outline: none;
}


.button_view:hover{
	background: #333;
	color: #fff;
}
















@media screen and (max-width: 1150px){
	.block{
		width: 90%;
	}
}

@media screen and (max-width: 1000px){
	.main{
		flex-direction: column;
	}

	.blockForImg{
		margin-right: 0px;
		margin-bottom: 30px;
		padding-right: 0px;
		padding-bottom: 30px;
	}

	.blockForImg:after{
		display: block;
	}

	.blockForImg:before{
		display: none;
	}
}

@media screen and (max-width: 550px){
	.someElse{
		flex-direction: column;
	}

	.block_line{
		flex-direction: column;
	}

	.list_of_information li{
		height: 200px;
		margin: 0 auto;
		width: 100%;
	}

	.form_input{
		width: 80%;
	}

	.block{
		font-size: 14px;
	}
}

@media screen and (max-width: 700px){
	.photo_block{
		display: flex;
		flex-direction: column;
	}

	.photo{
		width: 100%;
	}

	.photo:after{
		display: block;
	}

	.photo:before{
		display: none;
	}

	.description{
		width: 100%;
	}

	.status_block{
		margin: 0;
		width: 100%;
	}

	.all_photos{
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 400px) {
	.all_photos{
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 400px) {
	.photo_description{
		padding: 40px;
	}
}